<div class="d-flex justify-content-end">
    <button class="btn btn-outline-success rounded-circle" (click)="ngOnInit()"><i class="fas fa-sync-alt"></i></button>
 <button class="btn btn-outline-success rounded-circle" (click)="open()"><i class="fas fa-calculator"></i></button>
</div>
<div>
  <div>
    <div style="display: block">
        <h1>Índice de masa corporal</h1>
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>


