<div class="row">
    <div class="col-6"><h2>Detalles del paciente</h2></div>
    <div class="col-6"><button (click)="list()" class="btn btn-primary">Volver</button><br></div>
</div>
<hr/>
<div *ngIf="patient">
  <div>
    <label><b>Nombre: </b></label> {{patient.name}}
  </div>
  <div>
    <label><b>Edad: </b></label> {{patient.age}}
  </div>
  <div>
    <label><b>Peso: </b></label> {{patient.weight}}
  </div>  
  <div>
    <label><b>Talla: </b></label> {{patient.size}}
  </div>
  <div>
    <label><b>I.M.C: </b></label> {{patient.imc}}
  </div>  
</div>
